/* Page styling starts below. The CSS above is to remove annoying "CSS-bugs" from different browsers. (normalize.css) */
body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: $mainColor;
}

* {
	box-sizing: border-box;
}