.feed-header{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	height: 100%;

	h1, span {
		margin: 0;
	}


	&__block{
		padding: auto;

		&--right{
			text-align: right;
		}

		&--left{
			text-align: left;
		}

	}

	&__logo{
		font-size: 1.25rem;
		font-family: 'Oswald', sans-serif;
		font-weight: 400;
		color: $titleColor;
	}


}