.feed-header{
	text-align: center;
	margin-left: auto;
	margin-right: auto;	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	h1{
		margin: 0;
	}

	&__block{
		min-height: 23px;

		&--right{
			text-align: right;
		}

		&--left{
			text-align: left;
		}

	}

	&__logo{
		font-size: 1.25rem;
		font-family: 'Oswald', sans-serif;
		font-weight: 400;
		color: $titleColor;
	}


}